<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
    <header>
      <div class="profile-pic-wrapper">
        <div class="profile-pic-container">
          <a href="#">
            <img src="images/remember-to-avatar.jpg" alt="Profile Pic" />
          </a>
        </div>
      </div>
      <div class="header-menu-wrapper">
        <span class="glyphicon glyphicon-calendar"></span>
        <span class="glyphicon glyphicon-bell"></span>
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <button ng-click="listsCtrl.signout()" class="btn btn-xs btn-danger">
        sign out
      </button>
    </header>
    <div class="lists-wrapper">
      <div ui-sortable="listsCtrl.sortableOptions" ng-model="listsCtrl.userLists" class="list-container">
        <div class="list" ng-repeat="list in listsCtrl.userLists" ng-class="list.color + '-back'">
          <a href="" ng-href="#/list/{{ list.lid }}"><span ng-class="'icon-' + list.icon"></span>{{ list.listName }}</a>
        </div>
      </div>
    </div>
    <a href="#/create-list" class="btn btn-link">+ list</a>
    <br><br><br>
    <button ng-click="listsCtrl.clearEverything()" class="btn btn-xs btn-danger">
      CLEAR EVERYTHING
    </button>
  </div>
</div>
