<div class="row lists-ctrl no-margin window-size" ng-if="listsCtrl.show">
  <div class="no-padding col-xs-12">
    <header class="lc-header">
      <div class="profile-pic-wrapper">
        <div class="profile-pic-container">
          <a href="#">
            <img src="images/remember-to-avatar.jpg" ng-src="{{listsCtrl.gravatarURL}}" alt="Profile Pic" />
          </a>
        </div>
      </div>
      <div class="header-menu-wrapper hidden">
        <span class="flaticon-time-1"></span>
        <span class="flaticon-music"></span>
        <span class="glyphicon glyphicon-search"></span>
      </div>
      <button ng-click="listsCtrl.signout()" class="btn btn-xs btn-danger hidden">
        sign out
      </button>
    </header>
    <div class="lists-wrapper">
      <div data-as-sortable="listsCtrl.dragControlListeners" data-ng-model="listsCtrl.userLists" class="lists-container">
        <div class="list-item" data-as-sortable-item class="list" ng-repeat="list in listsCtrl.userLists" ng-class="list.color + '-back'">
          <div class="list-handle" data-as-sortable-item-handle>
            <a href="" ng-href="{{listsCtrl.clickable ? '#/list/' + list.lid : ''}}" class="list-link"><span class="list-icon" ng-class="'flaticon-' + list.icon"></span><span class="list-text">{{ list.listName }}</span></a><span class="tasks-total" ng-class="[list.color, {hidden: listsCtrl.getNumTasks(list.tasks) === 0}]"><p>{{listsCtrl.getNumTasks(list.tasks)}}</p></span>
          </div>
        </div>
      </div>
    </div>
    <a href="#/create-list" class="add-list-btn btn btn-link">+ list</a>
  </div>
</div>
