<div class="row list-create-ctrl no-margin window-size" ng-if="listCreateCtrl.show">
  <div class="no-padding col-xs-12">
    <header class="col-xs-12 lcc-header">
      <h1><span class="flaticon-interface"></span>&nbsp;&nbsp;create a list</h1>
      <div class="back-button">
        <a href="#/lists" ng-href="{{ '#/' + (listCreateCtrl.listID ? 'list/' + listCreateCtrl.listID : 'lists') }}"><span class="flaticon-arrows"></span></a>
      </div>
    </header>
    <div class="settings-form form-container col-xs-12">
      <form name="myForm" ng-submit="listCreateCtrl.submit(listCreateCtrl.inputs)" validate>
        <input type="text" id="name" name="name" placeholder="list name" ng-model="listCreateCtrl.inputs.name" maxlength="50" required>
        <input class="checkbox-custom" type="checkbox" ng-model="listCreateCtrl.inputs.doNotDisturb" name="do-not-disturb" ng-true-value="true" ng-false-value="false">
        <label class="checkbox-custom-label">do not disturb</label>
        <input type="text" id="location" name="location" placeholder="lat, long" ng-model="listCreateCtrl.inputs.location" maxlength="250">
        <select ng-model="listCreateCtrl.inputs.color" ng-options="v for v in listCreateCtrl.selectOpts.values"></select>

        <div class="colors-container no-padding col-xs-12">
          <span class="color-select" ng-repeat="color in listCreateCtrl.colors" ng-click="listCreateCtrl.selectColor($index); listCreateCtrl.inputs.color = listCreateCtrl.colors[listCreateCtrl.selectedColor]" ng-class="[color + '-back', {sel: $index === listCreateCtrl.selectedColor}]"></span>
        </div>

        <!-- begin icon selection -->
        <div class="icons-container no-padding col-xs-12">
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'arrows'"><span class="flaticon-arrows"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'briefcase'"><span class="flaticon-briefcase"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'business'"><span class="flaticon-business"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'clock'"><span class="flaticon-clock"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'commerce'"><span class="flaticon-commerce"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'cross'"><span class="flaticon-cross"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'crown'"><span class="flaticon-crown"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'favorite'"><span class="flaticon-favorite"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'favorite-1'"><span class="flaticon-favorite-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'folder'"><span class="flaticon-folder"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'food'"><span class="flaticon-food"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'food-1'"><span class="flaticon-food-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'food-2'"><span class="flaticon-food-2"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'food-3'"><span class="flaticon-food-3"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'furniture'"><span class="flaticon-furniture"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'interface'"><span class="flaticon-interface"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'interface-1'"><span class="flaticon-interface-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'interface-2'"><span class="flaticon-interface-2"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'luxury'"><span class="flaticon-luxury"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'medical'"><span class="flaticon-medical"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'medical-1'"><span class="flaticon-medical-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'medieval'"><span class="flaticon-medieval"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'monitor'"><span class="flaticon-monitor"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'moon'"><span class="flaticon-moon"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'music'"><span class="flaticon-music"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'networking'"><span class="flaticon-networking"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'night'"><span class="flaticon-night"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'night-1'"><span class="flaticon-night-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'night-2'"><span class="flaticon-night-2"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'notebook'"><span class="flaticon-notebook"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'party'"><span class="flaticon-party"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'party-1'"><span class="flaticon-party-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'party-2'"><span class="flaticon-party-2"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'party-3'"><span class="flaticon-party-3"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'peace'"><span class="flaticon-peace"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'people'"><span class="flaticon-people"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'people-1'"><span class="flaticon-people-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'people-2'"><span class="flaticon-people-2"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'people-3'"><span class="flaticon-people-3"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'present'"><span class="flaticon-present"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'present-1'"><span class="flaticon-present-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'reading'"><span class="flaticon-reading"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'restaurant'"><span class="flaticon-restaurant"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'restaurant-1'"><span class="flaticon-restaurant-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'school'"><span class="flaticon-school"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'school-1'"><span class="flaticon-school-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'suitcase'"><span class="flaticon-suitcase"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'sunglasses'"><span class="flaticon-sunglasses"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology'"><span class="flaticon-technology"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-1'"><span class="flaticon-technology-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-10'"><span class="flaticon-technology-10"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-11'"><span class="flaticon-technology-11"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-12'"><span class="flaticon-technology-12"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-13'"><span class="flaticon-technology-13"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-14'"><span class="flaticon-technology-14"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-15'"><span class="flaticon-technology-15"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-16'"><span class="flaticon-technology-16"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-2'"><span class="flaticon-technology-2"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-3'"><span class="flaticon-technology-3"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-4'"><span class="flaticon-technology-4"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-5'"><span class="flaticon-technology-5"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-6'"><span class="flaticon-technology-6"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-7'"><span class="flaticon-technology-7"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-8'"><span class="flaticon-technology-8"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'technology-9'"><span class="flaticon-technology-9"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'time'"><span class="flaticon-time"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'time-1'"><span class="flaticon-time-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'transport'"><span class="flaticon-transport"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'transport-1'"><span class="flaticon-transport-1"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'vintage'"><span class="flaticon-vintage"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'weapon'"><span class="flaticon-weapon"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'web'"><span class="flaticon-web"></span></a>
        <a href="" ng-click="listCreateCtrl.inputs.icon = 'wrench'"><span class="flaticon-wrench"></span></a>
      </div>
        <!-- end icon selection -->


        <button ng-disabled="myForm.$invalid" type="submit" name="submit" class="btn btn-info">send</button>
      </form>
    </div>
  </div>
</div>
