<div class="row login-ctrl no-margin" ng-style="{height: mainCtrl.minHeight + 'px'}">
  <div class="col-xs-12 no-padding">
    <h1 class="login-title">remember to</h1>
    <form class="login-form col-xs-10 col-xs-offset-1 no-padding" name="loginForm" ng-submit="loginCtrl.submit(loginCtrl.inputs.email, loginCtrl.inputs.password)">
        <input class="form-control email-input" placeholder="email" name="email" type="text" ng-model="loginCtrl.inputs.email" />
        <input class="form-control password-input" placeholder="password" name="password" type="password" ng-model="loginCtrl.inputs.password" />

        <button type="submit" ng-click="loginCtrl.inputType = 'signin'" class="signin-btn btn btn-default col-xs-12">sign in</button>
        <button type="submit" ng-click="loginCtrl.inputType = 'signup'" class="btn btn-link">sign up</button>
        <button type="submit" ng-click="loginCtrl.inputType = 'forgot'" class="btn btn-link">forgot password</button>
        <a href="http://remto.xyz" target="_blank" class="remto-link btn btn-link">remto.xyz</a>
    </form>
    <div class="login-alert col-xs-10 col-xs-offset-1 alert alert-danger" ng-show="loginCtrl.errorMessage">
      <p>{{ loginCtrl.errorMessage }}</p>
    </div>
  </div>
  <div class="white-hand-container">
    <img src="../images/white-hand.png" alt="White Remember To Logo" />
  </div>
</div>
