<div class="row settings-ctrl no-margin window-size" ng-if="settingsCtrl.show">
  <div class="no-padding col-xs-12">
    <header class="sc-header col-xs-12" ng-class="standalone ? 'standalone-pad-top' : ''">
      <div class="back-button">
        <a href="#/lists"><span class="flaticon-arrows"></span></a>
      </div>
      <h1>settings</h1>
    </header>
    <div class="settings-wrapper no-padding col-xs-12">
      <p><a href="#/account-details"><span class="glyphicon glyphicon-user"></span> account details</a></p>
      <p><a href="http://remto.xyz/about" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> about</a></p>
      <p><a href="mailto:support@remto.xyz"><span class="glyphicon glyphicon-flash"></span> support</a></p>
      <p><a href="mailto:feedback@remto.xyz"><span class="glyphicon glyphicon-send"></span> feedback</a></p>
      <p><a href="http://remto.xyz/donate" target="_blank"><span class="glyphicon glyphicon-piggy-bank"></span> donate</a></p>
      <p><a href="http://remto.xyz" target="_blank"><span class="glyphicon glyphicon-globe"></span> remto.xyz</a></p>
    </div>
  </div>
  <button class="log-out-btn btn btn-danger" ng-click="settingsCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span> sign out</button>
</div>
