<div class="row settings-ctrl no-margin window-size" ng-if="settingsCtrl.show">
  <div class="no-padding col-xs-12">
    <header class="sc-header col-xs-12">
      <div class="back-button">
        <a href="#/lists"><span class="flaticon-arrows"></span></a>
      </div>
      <h1>settings</h1>
      <button class="log-out-btn btn btn-warning" ng-click="settingsCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span> sign out</button>
    </header>
    <div class="settings-wrapper no-padding col-xs-12">
      <p><a href="#/account-details"><span class="glyphicon glyphicon-user"></span> account details</a></p>
    </div>
  </div>
</div>
