<div class="row task-create-ctrl no-margin window-size">
  <div class="col-xs-12">
    <header class="col-xs-12">
      <div class="back-button">
        <a href="#/lists">^</a>
      </div>
    </header>
    <div class="form-container col-xs-12">
      <form name="myForm" ng-submit="taskCreateCtrl.submit(taskCreateCtrl.inputs)" validate>
        <input type="text" id="name" name="name" placeholder="task name" ng-model="taskCreateCtrl.inputs.name" maxlength="50" required>

        <select ng-model="taskCreateCtrl.inputs.list" ng-options="v for v in taskCreateCtrl.selectOpts.values"></select>
        <input type="checkbox" ng-model="taskCreateCtrl.inputs.doNotDisturb" name="do-not-disturb" ng-true-value="true" ng-false-value="false">
        do not disturb
        <input type="text" id="location" name="location" placeholder="lat, long" ng-model="taskCreateCtrl.inputs.location" maxlength="250">

        <button ng-disabled="myForm.$invalid" type="submit" name="submit" class="btn btn-info">send</button>
      </form>
    </div>
  </div>
</div>
