<div class="row tasks-ctrl no-margin window-size" ng-if="tasksCtrl.show">
  <div class="no-padding col-xs-12">
    <header class="tc-header col-xs-12" ng-class="[(tasksCtrl.list.color + '-back'), (standalone ? 'standalone-pad-top' : '')]">
      <div class="back-button">
        <a href="#/lists"><span class="flaticon-arrows"></span></a>
      </div>
      <h1><span ng-class="'flaticon-' + tasksCtrl.list.icon"></span> {{ tasksCtrl.list.listName }}</h1>
      <a href="" ng-href="#/edit-list/{{ tasksCtrl.listID }}" ng-show="!tasksCtrl.addTodo.name" class="btn btn-link">edit</a>
      <a href="" ng-show="tasksCtrl.addTodo.name" ng-click="tasksCtrl.submit(tasksCtrl.addTodo)" class="btn btn-link">done</a>
    </header>
    <div class="tasks-wrapper no-padding col-xs-12">
      <div data-as-sortable="tasksCtrl.dragControlListeners" data-ng-model="tasksCtrl.tasks" class="task-container">
        <div data-as-sortable-item class="task" ng-repeat="todo in activeTasks = (tasksCtrl.tasks | filter:{completed: false})">
          <div data-as-sortable-item-handle>
            <span class="task-icon check-icon" ng-click="tasksCtrl.completeIt(tasksCtrl.listID, todo.tid)" ng-class="todo.completed ? 'flaticon-interface-1' : 'flaticon-squares'"></span>
            <a href="" ng-href="#/list/{{ tasksCtrl.listID }}/edit-task/{{todo.tid}}">
              <span ng-class="{'strike-through': todo.completed}" >{{ todo.name }}</span>
            </a>
            <span class="task-icon star-icon" ng-click="tasksCtrl.starIt(tasksCtrl.listID, todo.tid)" ng-class="todo.star ? 'flaticon-favorite' : 'flaticon-night'"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 button-container show-completed-button" ng-show="tasksCtrl.finishedTasks.length > 0">
      <span class="btn btn-squared" ng-click="tasksCtrl.showCompleted = !tasksCtrl.showCompleted">{{ tasksCtrl.showCompleted ? 'hide' : 'show' }} completed</span>
    </div>
    <div class="tasks-wrapper no-padding col-xs-12" ng-show="tasksCtrl.showCompleted">
      <div data-as-sortable="tasksCtrl.dragControlListeners" data-ng-model="tasksCtrl.tasks" class="task-container">
        <div data-as-sortable-item class="task" ng-repeat="todo in tasksCtrl.finishedTasks = (tasksCtrl.tasks | filter:{completed: true})">
          <div data-as-sortable-item-handle>
            <span class="task-icon check-icon" ng-click="tasksCtrl.completeIt(tasksCtrl.listID, todo.tid)" ng-class="todo.completed ? 'flaticon-interface-1' : 'flaticon-squares'"></span>
            <a href="" ng-href="#/list/{{ tasksCtrl.listID }}/edit-task/{{todo.tid}}">
              <span ng-class="{'strike-through': todo.completed}" >{{ todo.name }}</span>
            </a>
            <span class="task-icon star-icon" ng-click="tasksCtrl.starIt(tasksCtrl.listID, todo.tid)" ng-class="todo.star ? 'flaticon-favorite' : 'flaticon-night'"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="add-todo-container col-xs-12">
      <form class="add-todo-form" name="myForm" ng-submit="tasksCtrl.submit(tasksCtrl.addTodo)" validate>
        <input class="text-input" type="text" name="todo" placeholder="+ add to-do" ng-model="tasksCtrl.addTodo.name" maxlength="50" required>
        <span ng-if="tasksCtrl.addTodo.name" ng-model="tasksCtrl.addTodo.star" ng-click="tasksCtrl.addTodo.star = !tasksCtrl.addTodo.star" ng-class="tasksCtrl.addTodo.star ? 'flaticon-favorite' : 'flaticon-night'"></span>
        <button ng-disabled="myForm.$invalid" type="submit" name="submit" class="hidden">send</button>
      </form>
    </div>
  </div>
</div>
