<div class="row">
  <div class="col-xs-12">
    <header class="col-xs-12">
      <div class="back-button">
        <a href="#/lists">^</a>
      </div>
      <h1>{{ tasksCtrl.list.listName }}</h1>
      <a href="" ng-href="#/edit-list/{{ tasksCtrl.listID }}" ng-show="!tasksCtrl.addTodo.name" class="btn btn-link">edit</a>
      <a href="" ng-show="tasksCtrl.addTodo.name" ng-click="tasksCtrl.submit(tasksCtrl.addTodo)" class="btn btn-link">done</a>
    </header>
    <div class="lists-wrapper col-xs-12">
      <div data-as-sortable="tasksCtrl.dragControlListeners" data-ng-model="tasksCtrl.tasks" class="task-container">
        <div data-as-sortable-item class="task" ng-repeat="todo in tasksCtrl.tasks">
          <div data-as-sortable-item-handle>
            <span style="font-family: 'arial';font-size: 200%;cursor: crosshair;" ng-click="tasksCtrl.completeIt(tasksCtrl.listID, todo.tid)">
              {{ (todo.completed ? '☑' : '☐') }}
            </span>
            <a href="" ng-href="#/list/{{ tasksCtrl.listID }}/edit-task/{{todo.tid}}">
              <span ng-class="{'strike-through': todo.completed}" >{{ todo.name }}</span>
            </a>
            <span style="font-family: 'arial';font-size: 200%;cursor: crosshair;" ng-click="tasksCtrl.starIt(tasksCtrl.listID, todo.tid)">
              {{(todo.star ? '★' : '☆')}}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="add-todo-container col-xs-12">
      <form name="myForm" ng-submit="tasksCtrl.submit(tasksCtrl.addTodo)" validate>
        <input type="text" name="todo" placeholder="add to-do" ng-model="tasksCtrl.addTodo.name" maxlength="50" required>
        <span ng-if="tasksCtrl.addTodo.name" ng-model="tasksCtrl.addTodo.star" ng-click="tasksCtrl.addTodo.star = !tasksCtrl.addTodo.star">{{(tasksCtrl.addTodo.star ? '★' : '☆')}}</span>
        <button ng-disabled="myForm.$invalid" type="submit" name="submit" class="hidden">send</button>
      </form>
    </div>
  </div>
</div>
