// out: ../styles/main.css, sourcemap: true, compress: true

/* Mobile first queries */
@import 'reset'
@import 'fontface'

$black = #000
$white = #fff
$off-white = #f1f2f2
$clear-white = rgba(255,255,255,.75)
$dark-grey = #333333
$lgt-grey = #444444
$lgt-lgt-grey = #b7b7b7
$red = #CA302A
$clear-red = rgba(202,48,42,.6)
$orange = #E18B00
$clear-orange = rgba(225,139,0,.6)
$yellow = #EEB300
$clear-yellow = rgba(238,179,0,.6)
$green = #5FB3AB
$clear-green = rgba(95,179,171,.6)
$blue = #357B96
$clear-blue = rgba(53,123,150,.6)
$violet = #6D1764
$clear-violet = rgba(109,23,100,.6)

//Futura-Heavy          700
//Futura-Book           400

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

h4,h5,h6,p,ol,ul
  line-height 1.3

h1
  font-size 200%
  font-weight 400

p
  a,
  a:link,
  a:visited,
  a:hover,
  a:active
    color inherit
    text-decoration underline

img
  max-width 100%

.red
  color $red

.orange
  color $orange

.yellow
  color $yellow

.green
  color $green

.blue
  color $blue

.violet
  color $violet

.red-back
  color $white
  background-color $clear-red

.orange-back
  color $white
  background-color $clear-orange

.yellow-back
  color $white
  background-color $clear-yellow

.green-back
  color $white
  background-color $clear-green

.blue-back
  color $white
  background-color $clear-blue

.violet-back
  color $white
  background-color $clear-violet

.italic
  font-style italic

.strike-through
  text-decoration line-through

//remove this section before live production
.screen-resolution
  display block
  position fixed
  bottom 20px
  right 20px
  color $white
//end section to remove

html
  -webkit-font-smoothing: antialiased;
  background-image url('../images/misty-mountains.jpg')
  background-position center
  background-size cover
  background-attachment fixed

html, body
  margin 0 auto
  padding 0
  width 100%
  height 100%
  font-size 16px
  letter-spacing -.5px
  font-weight 400
  font-family 'Lato', sans-serif
  color $white

body
  background-color transparent

.loading
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  opacity 1
  background $clear-white
  z-index 9999
  *
    transform translateZ(0)
  &.ng-enter, &.ng-leave
    transition all 0.5s ease
  &.ng-enter, &.ng-leave.ng-leave-active
    opacity 0
  img
    position absolute
    top 50%
    margin-top -50px
    left 50%
    margin-left -50px
    width 100px
    height auto

.window-size
  min-height 100vh

.container-fluid
  padding 0

.no-padding
  padding 0

.no-margin
  margin 0

.slide
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  transform translateZ(0)

.slide.ng-enter,
.slide.ng-leave
  transition all 1s ease

.slide.ng-enter
  left 100%

.slide.ng-enter-active
  left 0

.slide.ng-leave
  left 0

.slide.ng-leave-active
  left -100%

.slide-back.ng-enter,
.slide-back.ng-leave
  transition all 1s ease

.slide-back.ng-enter
  left -100%

.slide-back.ng-enter-active
  left 0

.slide-back.ng-leave
  left 0

.slide-back.ng-leave-active
  left 100%



//LOGIN SCREEN

.login-title
  margin-top 15px
  padding-bottom 20px
  text-align center

.login-form
  font-weight 400
  input
    padding 13px 20px
    font-size 100%

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder
  color $lgt-lgt-grey
  font-weight: 700


.form-controller, .email-input, .password-input, .input-group-addon
  -webkit-box-shadow none
  -moz-box-shadow none
  -ms-box-shadow none
  box-shadow none


.email-input
  text-transform lowercase
  border none
  border-bottom solid 1px $lgt-lgt-grey
  border-top-left-radius 5px
  border-top-right-radius 5px
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  background $white
  label
    margin-bottom 0

.checkbox-custom
  opacity 0
  position absolute
  z-index: 9999;

.checkbox-custom, .checkbox-custom-label
  display inline-block
  vertical-align middle
  margin 5px
  cursor pointer

.checkbox-custom-label
  position relative
  font-weight 400

.checkbox-custom + .checkbox-custom-label:before
  content ''
  background #fff
  border 2px solid #ddd
  display inline-block
  vertical-align middle
  width 20px
  height 20px
  padding 2px
  margin-right 10px
  text-align center

.checkbox-custom:checked + .checkbox-custom-label:before
  background $lgt-grey
  box-shadow inset 0px 0px 0px 2px #fff


//.checkbox-custom:focus + .checkbox-custom-label
  //outline 1px solid #ddd; /* focus style */

.password-input
  border none
  border-top solid 1px $lgt-lgt-grey
  border-top-left-radius 0
  border-top-right-radius 0
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
  background $white
  a
    padding-right 10px

.signin-btn
  margin-top 20px
  padding 13px
  color $white
  font-size 100%
  background $blue
  border $blue
  border-radius 5px

.signin-btn
  color #fff
  background-color $blue
  border-color $blue

.signin-btn:focus,
.signin-btn.focus
  color $blue
  background-color $white
  border-color $blue

.signin-btn:hover
  color $blue
  background-color $white
  border-color $blue

.signin-btn:active,
.signin-btn.active,
.open > .dropdown-toggle.signin-btn
  color $blue
  background-color $white
  border-color $blue

.signin-btn:active:hover,
.signin-btn.active:hover,
.open > .dropdown-toggle.signin-btn:hover,
.signin-btn:active:focus,
.signin-btn.active:focus,
.open > .dropdown-toggle.signin-btn:focus,
.signin-btn:active.focus,
.signin-btn.active.focus,
.open > .dropdown-toggle.signin-btn.focus
  color $blue
  background-color $white
  border-color $blue



.btn-link
  margin 5px 0 0
  padding 10px 5px
  color $white
  font-size 75%
  font-weight 300

.remto-link
  float right

.login-alert
  margin-top 5px
  z-index 9999

.white-hand-container
  display none
  position absolute
  bottom 0
  text-align center
  img
    margin-left -10px
    width 45%


//LISTS SCREEN

header
  padding 15px
  background $clear-blue
  border-bottom 2px solid $white

.profile-pic-container
  width 80px
  height 80px
  border 2px solid $white
  border-radius 100%
  overflow hidden

.list-item
  -webkit-touch-callout none /* iOS Safari */
  -webkit-user-select none   /* Chrome/Safari/Opera */
  -khtml-user-select none    /* Konqueror */
  -moz-user-select none      /* Firefox */
  -ms-user-select none       /* IE/Edge */
  user-select none           /* non-prefixed version, currently not supported by any browser */
  *
    vertical-align middle

.list-icon
  display inline-block
  margin 0 5px
  width 50px
  text-align center
  &:before
    margin 0

.list-link
  display block
  padding 5px 0
  width 100%
  height auto

.list-text
  font-weight 700


//LISTS CREATE/EDIT SCREEN

input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button
  display none
  -webkit-appearance none
  appearance none

select
  margin 50px
  border 1px solid #111
  background transparent
  width 150px
  padding 5px 35px 5px 5px
  font-size 16px
  border 1px solid #ccc
  height 34px
  -webkit-appearance none
  -moz-appearance none
  appearance none
  //background url(http://www.stackoverflow.com/favicon.ico) 96% / 15% no-repeat #eee
/*target Internet Explorer 9 and Internet Explorer 10:*/


@media screen and (min-width: 0\0)

  select
    background none
    padding 5px


@import 'media-queries'
