// out: ../styles/main.css, sourcemap: true, compress: true

/* Mobile first queries */
@import 'reset'
@import 'fontface'

$black = #000
$white = #fff
$off-white = #f1f2f2
$clear-white = rgba(255,255,255,.3)
$less-clear-white = rgba(255,255,255,.6)
$dark-grey = #333333
$lgt-grey = #444444
$lgt-lgt-grey = #b7b7b7
$red = #CA302A
$clear-red = rgba(202,48,42,.6)
$orange = #E18B00
$clear-orange = rgba(225,139,0,.6)
$yellow = #EEB300
$clear-yellow = rgba(238,179,0,.6)
$green = #5FB3AB
$clear-green = rgba(95,179,171,.6)
$blue = #357B96
$clear-blue = rgba(53,123,150,.6)
$violet = #6D1764
$clear-violet = rgba(109,23,100,.6)

//Futura-Heavy          700
//Futura-Book           400

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

h4,h5,h6,p,ol,ul
  line-height 1.3

h1
  font-size 200%
  font-weight 400

p
  a,
  a:link,
  a:visited,
  a:hover,
  a:active
    color inherit
    text-decoration underline

img
  max-width 100%

.red
  color $red

.orange
  color $orange

.yellow
  color $yellow

.green
  color $green

.blue
  color $blue

.violet
  color $violet

.red-back
  color $white
  background-color $clear-red

.orange-back
  color $white
  background-color $clear-orange

.yellow-back
  color $white
  background-color $clear-yellow

.green-back
  color $white
  background-color $clear-green

.blue-back
  color $white
  background-color $clear-blue

.violet-back
  color $white
  background-color $clear-violet

.italic
  font-style italic

.strike-through
  text-decoration line-through

//remove this section before live production
// .screen-resolution
//   display block
//   position fixed
//   bottom 20px
//   right 20px
//   color $white
//end section to remove


//Required for ng-sortable to function on mobile for scroll
.as-sortable-item
  -ms-touch-action auto
  touch-action auto

html
  -webkit-font-smoothing: antialiased;

html, body
  margin 0 auto
  padding 0
  width 100%
  height auto
  font-size 16px
  letter-spacing -.5px
  font-weight 400
  font-family 'Lato', sans-serif
  color $white
  overflow scroll
  overflow-x hidden
  overflow-y scroll

body
  background-color transparent

.background-image
  position fixed
  margin 0 auto
  top 0
  width 100%
  min-height 100vh
  height auto
  img
    object-fit cover
    object-position center
    width auto
    min-width 100%
    height 100%

.loading
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  opacity 1
  background $clear-white
  z-index 9999
  *
    transform translateZ(0)
  &.ng-enter, &.ng-leave
    transition all 0.5s ease
  &.ng-enter, &.ng-leave.ng-leave-active
    opacity 0
    transition all 0.5s ease
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
  img
    position absolute
    top 50%
    margin-top -50px
    left 50%
    margin-left -50px
    width 100px
    height auto

.window-size
  height auto
  min-height 100vh

.container-fluid
  padding 0
  width 100%
  height auto
  overflow scroll
  overflow-x hidden
  overflow-y scroll

.no-padding
  padding 0

.no-margin
  margin 0

.standalone .standalone-pad-top
  padding-top 30px

.slide
  position relative
  left 0
  top 0
  width 100%
  height auto
  transform translateZ(0)

.slide.ng-enter,
.slide.ng-leave
  position absolute
  transition left 1s ease

.slide.ng-enter
  visibility hidden //fixes ios flicker
  left 100%

.slide.ng-enter-active
  visibility visible //fixes ios flicker
  left 0
  position relative

.slide.ng-leave
  left 0

.slide.ng-leave-active
  position absolute
  left -100%
  top 0



//LOGIN SCREEN

.login-title
  margin-top 15px
  padding-bottom 20px
  text-align center

.login-form
  font-weight 400
  input
    padding 13px 20px
    font-size 100%
  // ::-webkit-input-placeholder
  //   color $lgt-lgt-grey
  //
  // :-moz-placeholder
  //   color $lgt-lgt-grey
  //
  // ::-moz-placeholder
  //   color $lgt-lgt-grey
  //
  // :-ms-input-placeholder
  //   color $lgt-lgt-grey


.form-controller, .email-input, .password-input, .input-group-addon
  -webkit-box-shadow none
  -moz-box-shadow none
  -ms-box-shadow none
  box-shadow none


.email-input
  text-transform lowercase
  border 0
  border-bottom solid 1px $lgt-lgt-grey
  border-top-left-radius 5px
  border-top-right-radius 5px
  border-bottom-left-radius 0
  border-bottom-right-radius 0
  background $white
  label
    margin-bottom 0

.checkbox-custom
  opacity 0
  position absolute
  min-height 20px
  z-index: 9999;

.checkbox-custom, .checkbox-custom-label
  display inline-block
  vertical-align middle
  margin 5px
  cursor pointer

.checkbox-custom-label
  position relative
  font-weight 400

.checkbox-custom + .checkbox-custom-label:before
  content ''
  background #fff
  border 2px solid $dark-grey
  display inline-block
  vertical-align middle
  width 20px
  height 20px
  padding 2px
  margin-right 10px
  text-align center

.checkbox-custom:checked + .checkbox-custom-label:before
  background $lgt-grey
  box-shadow inset 0px 0px 0px 2px #fff


.checkbox-custom:focus + .checkbox-custom-label
  outline 1px solid $blue; /* focus style */

.password-input
  border 0
  border-top solid 1px $lgt-lgt-grey
  border-top-left-radius 0
  border-top-right-radius 0
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px
  background $white
  a
    padding-right 10px

.signin-btn
  margin-top 20px
  padding 13px
  color $white
  font-size 100%
  background $blue
  border $blue
  border-radius 5px

.signin-btn
  color #fff
  background-color $blue
  border-color $blue

.signin-btn:focus,
.signin-btn.focus
  color $blue
  background-color $white
  border-color $blue

.signin-btn:hover
  color $blue
  background-color $white
  border-color $blue

.signin-btn:active,
.signin-btn.active,
.open > .dropdown-toggle.signin-btn
  color $blue
  background-color $white
  border-color $blue

.signin-btn:active:hover,
.signin-btn.active:hover,
.open > .dropdown-toggle.signin-btn:hover,
.signin-btn:active:focus,
.signin-btn.active:focus,
.open > .dropdown-toggle.signin-btn:focus,
.signin-btn:active.focus,
.signin-btn.active.focus,
.open > .dropdown-toggle.signin-btn.focus
  color $blue
  background-color $white
  border-color $blue



.btn-link
  margin 5px 0 0
  padding 10px 5px
  color $white
  font-size 75%
  font-weight 300

.remto-link
  float right

.login-alert
  margin-top 5px
  z-index 9999

.white-hand-container
  display none
  position absolute
  bottom 0
  text-align center
  img
    margin-left -10px
    width 45%


//BUTTONS

.btn-squared
  color $white
  background-color transparent
  border-color $white
  border-radius 0

.btn-squared:focus,
.btn-squared.focus
  color $dark-grey
  background-color $white
  border-color $white

.btn-squared:hover
  color $dark-grey
  background-color $white
  border-color $white



//LISTS SCREEN

header
  padding 15px
  border-bottom 2px solid $white

.lc-header
  background $clear-blue

.profile-pic-container
  width 50px
  height 50px
  border 2px solid $white
  border-radius 100%
  overflow hidden
  img
    border-radius 100%

.list-item
  -webkit-touch-callout none /* iOS Safari */
  -webkit-user-select none   /* Chrome/Safari/Opera */
  -khtml-user-select none    /* Konqueror */
  -moz-user-select none      /* Firefox */
  -ms-user-select none       /* IE/Edge */
  user-select none           /* non-prefixed version, currently not supported by any browser */
  *
    vertical-align middle

.list-icon
  display inline-block
  margin 0 5px
  width 50px
  text-align center
  &:before
    margin 0

.list-link
  display block
  padding 5px 0
  width 100%
  height auto

.list-text
  font-weight 700

.tasks-total
  display inline-block
  position absolute
  padding 7px 0
  top 10px
  right 20px
  width 35px
  height 35px
  text-align center
  font-size 16px
  border-radius 100%
  background $white
  opacity .7

.add-list-btn
  margin 0 0 100px 20px
  font-size 100%
  font-weight 700


//LISTS CREATE/EDIT SCREEN

.list-create-ctrl
  background $less-clear-white
  .submit-btn
    position absolute
    bottom 3px
    right 20px
    font-size 150%
    font-weight 700

.lcc-header
  padding 15px 10px 20px
  border 0
  text-align center
  transition background .5s ease
  h1
    font-size 150%
    font-weight 700
    span
      font-size 50%
      font-weight 400
      &:before
        margin-left 0

.back-button
  position absolute
  bottom 12px
  left 0
  font-size 75%
  z-index 9999
  a
    display inline-block

.settings-form
  color $dark-grey
  input
    margin 10px auto
    padding 1px 10px 2px
    font-size 150%
    color $dark-grey
    background transparent
    border 0
    border-left 2px solid $dark-grey
    border-radius 0
    width 100%
    -webkit-appearance none
    appearance none
    outline none
  ::-webkit-input-placeholder
    color $dark-grey
  :-moz-placeholder
    color $dark-grey
  ::-moz-placeholder
    color $dark-grey
  :-ms-input-placeholder
    color $dark-grey


input[type=date]::-webkit-inner-spin-button, input[type=date]::-webkit-clear-button
  display none
  -webkit-appearance none
  appearance none

.colors-container
  margin 0 auto
  max-width 75%
  text-align center

.color-select
  display inline-block
  margin 10px
  width 50px
  height 50px
  border 2px solid transparent
  border-radius 100%
  transition border-color .5s ease
  &.sel
    border-color $white

.icons-container
  text-align center
  span:before
    margin 0 10px

.icon-select
  display inline-block
  margin 10px
  padding-top 5px
  width 60px
  height 60px
  text-align center
  border 2px solid transparent
  border-radius 100%
  transition background .5s ease
  &.sel
    border-color $white
  span:before
    margin 0


//TASKS SCREEN

.tasks-ctrl
  .btn-link
    position absolute
    bottom 3px
    right 20px
    font-size 100%
    font-weight 400

.tc-header
  padding 15px 10px 20px
  border 0
  text-align center
  transition background .5s ease
  h1
    font-size 150%
    font-weight 700
    span
      font-size 50%
      font-weight 400
      &:before
        margin-left 0

.task-icon
  font-size 60%

.task
  margin-bottom 1px
  padding 10px 15px
  background $clear-white
  span
    display inline-block
    &:before
      margin 0 10px 0 5px
  .star-icon
    float right
    &:before
      margin 0 5px

.button-container
  text-align center
  padding 10px 0

.text-input
  margin 20px 0 50px
  padding 2px 5px
  border 0
  border-left 1px solid $white
  border-radius: 0;
  background transparent
  color $white
  font-size 110%
  -webkit-appearance none
  appearance none
  outline none
  &::-webkit-input-placeholder
    color $white
  &:-moz-placeholder
    color $white
  &::-moz-placeholder
    color $white
  &:-ms-input-placeholder
    color $white





@media screen and (min-width: 0\0)

  select
    background none
    padding 5px


@import 'media-queries'
